.random-wrap {
  margin-top: 60px;
  h3 {
    font-size: 24px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    li {
      width: calc(100% / 5);
    }
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 200 / 286;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      z-index: 1;
      transition: 0.3s;
    }
    &:hover {
      &::before {
        background-color: #00000080;
      }
      button {
        opacity: 1;
        z-index: 1;
      }
    }
    button {
      position: relative;
      opacity: 0;
      z-index: -1;
      transition: 0.2s;
    }
  }
}
