.header {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 0 60px;
  position: sticky;
  top: 0px;
  transition: 0.3s;
  background: #ffffff00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  z-index: 100;

  &:hover {
    background-color: #ffffff24;
  }

  .swiper {
    max-width: 860px;
    margin: initial;

    .swiper-slide {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      padding: 0 30px;

      button {
        color: #fff;
        font-weight: 500;
        padding: 6px 12px;
        border-radius: 6px;
        transition: all 0.2s;

        &:hover,
        &.active {
          background: rgba(255, 204, 0, 0.8);
          color: #000;
        }
      }
    }
  }

  .user-menu {
    display: flex;
    margin-left: auto;
    gap: 20px;
    color: #fff;

    li {
      display: flex;
      align-items: center;
    }

    button {
      display: flex;
      align-items: center;
      color: #fff;
    }

    .my-menu {
      min-width: 160px;
      position: absolute;
      top: 100%;
      right: 0;
      overflow: hidden;
      border-radius: 0 0 8px 8px;

      &.active ul {
        transform: translateY(0%);
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 26px 32px;
        background: #ffffff24;
        border: 1px solid #00000024;
        transition: 0.2s;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        transform: translateY(-100%);

        button {
          transition: 0.2s;
        }
      }
    }
  }

  .admin-menu {
    display: flex;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding: 0 30px;

    a {
      color: #fff;
      font-weight: 500;
      padding: 6px 12px;
      border-radius: 6px;
      transition: all 0.2s;

      &:hover {
        background: rgba(255, 204, 0, 0.8);
        color: #000;
      }

      &.active {
        background: rgba(255, 204, 0, 0.8);
        color: #000;
      }
    }
  }
}

.logo {
  margin-right: 40px;
  a {
    display: block;
    width: 88px;
    height: 58px;
    position: relative;
    background: url("/logo/logo2.png");
    background-size: 100%;
    span {
      width: 1px;
      height: 1px;
      position: absolute;
      text-indent: -9999px;
      color: transparent;
    }
  }
}

.search-wrap {
  position: absolute;
  left: 100%;
  right: 100px;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;

  &.active {
    left: 188px;
  }
}

.icon-search,
.icon-close {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.icon-search {
  right: 50px;
}
.icon-close {
  right: 12px;
}
