.tab-wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px 120px;
  margin-top: 34px;
  border: 1px solid #888;
  border-radius: 4px;
  a {
    font-size: 18px;
    &.active {
      color: #ffcc00;
    }
  }
}
