.login-wrap {
  width: 420px;
  padding-top: 16px;
  margin: 0 auto 0;

  .logo {
    width: 176px;
    height: 176px;
    margin: 0 auto;
    position: relative;
    background: url("/logo/logo.png") no-repeat center;
    background-size: 100%;
    a {
      color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .form {
    padding: 30px 40px;
    border: 1px solid #888888;
    border-radius: 12px;

    h2 {
      font-size: 32px;
      margin: 0 auto 30px;
      text-align: center;
    }
  }

  .link-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 16px auto 50px;

    li {
      position: relative;
      & + li:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background: #d9d9d9;
        top: 0;
        bottom: 0;
        left: -12px;
        margin: auto 0;
      }
      a {
        text-decoration: initial;
        transition: 0.3s;

        &:hover {
          color: #007aff;
        }
      }
    }
  }
}
