.movie-table {
  max-width: 1000px;
  padding: 40px 0;
  margin: 0 auto;

  h2 {
    font-size: 24px;
  }

  .search-wrap {
    display: flex;
    gap: 48px;
    align-items: center;
    padding: 12px 40px;
    margin-top: 40px;
    border: 1px solid #888;
    border-radius: 12px;

    button {
      margin-left: auto;
    }
  }
  .input-wrap {
    width: 100%;
  }
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
