.regist-wrap {
  padding-top: 24px;
  h2 {
    font-size: 24px;
  }

  .tag-wrap {
    display: flex;
    gap: 8px;

    li {
      p {
        display: flex;
        align-items: center;
        color: #222;
        padding: 4px 28px 4px 8px;
        position: relative;
        background: #facc15;
        border-radius: 4px;
        &:hover {
          background: #fbbf24;
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 8px;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
}
